@import "../scss-utilities/variables";
$search-bar-height: ($spacing-44 - $spacing-36)*3;
.search-artist--container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $gray3;
}

//User Input
.search-artist--input {
  font-size: $font-size-28;
  padding: $spacing-36;
  height: $search-bar-height;
  background-color: $gray2;
  border: none;
  color: $gray3;
  border-radius: 0.1em;
  flex-grow: 9;
}
.search-artist--input:focus {
  outline: none;
  box-shadow: 0px 1px 1px black;
}
.search-artist--input[type=text]{
  color: $gray3; 
}
.search-artist--input::placeholder {
  color: $gray3;
}
.search-artist--search-button {
  width: 5em;
}
//Dropdown
.search-artist--dropdown {
  position: absolute;
  z-index: 100;
  top: $spacing-26*2 + ($search-bar-height + $spacing-36);
  background-color: $gray2;
  border-radius: 0.1em;
  width: 100%;
  font-size: $font-size-23;
  box-shadow: 0px 1px 1px black;
}

//Dropdown Arrow
.search-artist--dropdown:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: $gray2;
  border-width: $spacing-26*0.5;
  margin-left: $font-size-36;
}

.search-artist--dropdown--title {
  margin: 0;
  padding: $spacing-56 $spacing-36 $spacing-30 $spacing-36;
}

//Dropdown elements
.search-artist--dropdown--element {
  cursor: pointer;
}

.search-artist--dropdown--element-text {
  padding: 0;
  margin: 0;
}

.search-artist--dropdown--element {
  padding: $font-size-36;
  border-bottom-style: solid;
  border-bottom-width: $margin-width;
  border-bottom-color: $gray1;
}

.search-artist--dropdown--element:hover .search-artist--dropdown--element-text {
  color: $gray4;
}

.search-artist--dropdown--elements {
  max-height: 40vh;
  overflow: scroll;
  padding: 0 $spacing-44  $spacing-51 $spacing-44;
}
