@import "../scss-utilities/variables";

.search-artist--container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $gray3;
}

//User Input
.search-artist--input {
  font-size: $font-size1;
  padding: $size-1;
  height: 2em;
  background-color: $gray2;
  border: none;
  color: $gray3;
  border-radius: 0.1em;
  flex-grow: 9;
}
.search-artist--input:focus {
  outline: none;
  box-shadow: 0 1px 2px black;
}
.search-artist--input::placeholder {
  color: $gray3;
}
.search-artist--search-button {
  width: 5em;
}
//Dropdown
.search-artist--dropdown {
  position: absolute;
  z-index: 100;
  top: 4em;
  background-color: $gray2;
  padding: $size-1;
  border-radius: 0.1em;
  width: 40%;
  box-shadow: 3px 2px 10px black;
}

//Dropdown Arrow
.search-artist--dropdown:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: $gray2;
  border-width: 0.4em;
  margin-left: 0.4em;
}

.search-artist--dropdown--title {
  margin: 0;
  padding-bottom: $size-1;
  font-size: $font-size2;
}

//Dropdown elements
.search-artist--dropdown--element {
  cursor: pointer;
}

.search-artist--dropdown--element-text {
  font-size: $font-size3;
  padding: 0;
  margin: 0;
}

.search-artist--dropdown--element {
  padding: 0.5em 0 0.5em 1em;
  border-bottom-style: solid;
  border-bottom-width: 0.09em;
  border-bottom-color: $gray1;
}

.search-artist--dropdown--element:hover .search-artist--dropdown--element-text {
  color: $gray4;
}

.search-artist--dropdown--elements {
  max-height: 40vh;
  overflow: scroll;
}
