$gray1: #1c1c1c;
$gray2: #2a2a2a;
$gray3: #b5b5b5;
$gray4: #f6f6f6;
$blue: #01ffff;

$proportion: 0.6px;

$font-size-23: 23*$proportion;
$font-size-28: 28*$proportion;
$font-size-33: 33*$proportion;
$font-size-36: 36*$proportion;

$margin-width: 2*$proportion;

$spacing-26: 26*$proportion;
$spacing-30: 30*$proportion;
$spacing-36: 36*$proportion;
$spacing-44: 44*$proportion;
$spacing-51: 51*$proportion;
$spacing-56: 56*$proportion;
$spacing-63: 63*$proportion;
$spacing-85: 85*$proportion;
$spacing-100: 100*$proportion;
$spacing-120: 120*$proportion;
$spacing-150: 150*$proportion;
$spacing-300: 300*$proportion;
