$gray1: #1c1c1c;
$gray2: #2a2a2a;
$gray3: #b5b5b5;
$gray4: #f6f6f6;
$blue: #01ffff;

$size-2: 0.36em;
$size-1: 0.6em;
$size1: 1em;
$size2: 1.6em;
$size2: 3.2em;


$font-size1: 1.1em;
$font-size2: 1em;
$font-size3: 0.98em;
$font-size4: 1.6em;
