@import "../scss-utilities/variables";
$margin-cover: $spacing-63;
.albums-scroll {
  max-height: $spacing-300 + $font-size-23*3;
  height: $spacing-300 + $font-size-23*3;
}
.albums-scroll__container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1em;
}

.albums-scroll__container {
  display: flex;
  position: absolute;
  left: 0;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 1;
  overflow: auto;
  transition: all 0.2s;
  overflow: auto;
  justify-content: flex-start;
  max-height: $spacing-300 + $font-size-23*3;
  height: $spacing-300 + $font-size-23*3;
  .album-cover:first-child{
    margin-left: $spacing-100;
  }
  .album-cover:last-child{
    padding-right: $spacing-100;
  }
  .album-cover {
    margin-left: $margin-cover;
    margin-right: $margin-cover;
  }
}
