@import "../scss-utilities/variables";

.loader {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: $gray1;
  opacity: 0.9;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 4px;
  left: -200px;
  background-color: $gray2;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}
