@import "./scss-utilities/variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.app {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $gray1;
  color: $gray4;
}
.app-container {
  padding: 3em;
}

.title {
  font-weight: 600;
  font-size: 1.5em;
  font-weight: 600;
}
.title-2 {
  font-size: $font-size4;
}
.blue-font {
  color: $blue;
}