@import "./scss-utilities/variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

.app {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $gray1;
  color: $gray4;
}

.app-container {
  padding: $spacing-100;
}

.title {
  font-size: $font-size-36;
}

.bold {
  font-weight: 600;
}

.title-2 {
  font-size: $font-size-36;
}

.font-blue {
  color: $blue;
}
.search-results__albums__title {
  padding: $spacing-44 0 $spacing-36 0;
}
.search-results__title {
  padding: $spacing-100 0 $spacing-26 0;
  border-bottom-color: $gray2;
  border-bottom-style: solid;
  border-bottom-width: $margin-width;
}